@import "./src/styles/variables";

.taxContainer {
  margin-top: 20px;
  padding: 20px;
  background: $main-yellow;
  display: inline-block;
}

.taxItem {
  display: flex;
  align-items: center;
  gap: 0 20px;

  div {
    font-weight: 700;
  }

  span {
    font-weight: 400;
  }
}
